.react-switch-checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}

.react-switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 50px;
  cursor: pointer;
  background: grey;
  border-radius: 100px;
}

.react-switch-label .react-switch-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 45px;
  height: 45px;
  content: '';
  background: #fff;
  border-radius: 45px;
  box-shadow: 0 0 2px 0 rgb(10 10 10 / 29%);
}

@media (prefers-reduced-motion: no-preference) {
  .react-switch-label {
    transition: background-color 0.2s;
  }

  .react-switch-label .react-switch-button {
    transition: 0.2s;
  }
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
