<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed navbar-component" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand navbar-component text-default" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="navbar-component"><a class="text-default" href="#">Link <span class="sr-only">(current)</span></a></li>
				<li class="navbar-component"><a class="text-default" href="#">Link</a></li>
				<li class="dropdown navbar-component">
					<a href="#" class="dropdown-toggle text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="navbar-component"><a class="text-default" href="#">Action</a></li>
						<li class="navbar-component"><a class="text-default" href="#">Another action</a></li>
						<li class="navbar-component"><a class="text-default" href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="navbar-component"><a class="text-default" href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li class="navbar-component"><a class="text-default" href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control navbar-component" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default navbar-component">Submit</button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-component"><a class="text-default" href="/accounts/signin">Sign in</a></li>
				<li class="navbar-component"><a class="text-default" href="/accounts/signup">Sign up</a></li>
				<li class="dropdown navbar-component">
					<a href="#" class="dropdown-toggle text-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="navbar-component"><a class="text-default" href="#">Action</a></li>
						<li class="navbar-component"><a class="text-default" href="#">Another action</a></li>
						<li class="navbar-component"><a class="text-default" href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="navbar-component"><a class="text-default" href="#">Separated link</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
