* {
  transition: all 0.3s;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.dropdown {
  width: 100%;
  margin-bottom: auto;
  padding: 10px;
  background-color: #111;
  color: #fff;
}

.dropdown__content {
  overflow: hidden;
}

.dropdown__list {
  padding: 0;
  list-style: none inside;
}

.dropdown__link {
  display: block;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

#dropdown {
  cursor: pointer;
  display: none;
}

#dropdown ~ label {
  cursor: pointer;
}

#dropdown:checked ~ .dropdown__content {
  max-height: 0;
}
