////
/// Global spacing variable defination
/// @group Spacing
/// @author sabertazimi
////

/// Vertical rhythm baseline
/// @access private
/// @type Length
$vertical-rhythm-baseline: 24px !default;

/// Body line height (computed to 16px * 1.5 = 24px)
/// @type Number
$body-line-height: 1.5 !default;

/// Heading line height
/// @type Number
$heading-line-height: 1.2 !default;

/// Unit of vertical rhythm spacing values
/// @type Length
$space-unit: 1em !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-xxxs: 0.25 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-xxs: 0.375 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-xs: 0.5 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-sm: 0.75 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-md: 1.25 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-lg: 2 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-xl: 3.25 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-xxl: 5.25 * $space-unit !default;

/// One of vertical rhythm spacing values
/// @type Length
$space-xxxl: 8.5 * $space-unit !default;

/// Unit of fixed vertical rhythm spacing values
/// @type Length
$space-unit-fixed: 1rem !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-xxxs-fixed: 0.25 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-xxs-fixed: 0.375 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-xs-fixed: 0.5 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-sm-fixed: 0.75 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-md-fixed: 1.25 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-lg-fixed: 2 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-xl-fixed: 3.25 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-xxl-fixed: 5.25 * $space-unit !default;

/// One of fixed vertical rhythm spacing values
/// @type Length
$space-xxxl-fixed: 8.5 * $space-unit !default;
