@use 'sass:map';

////
/// Global layout variablse defination
/// @group Layout
/// @author sabertazimi
////

/// Device size breakpoints upper-boundary map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 600px,
  'medium': 1024px,
  'large': 1440px,
  'xlarge': 1920px,
) !default;

/// Small size device breakpoint
/// @type Length
$bp-small: map.get($breakpoints, 'small') !default;

/// Medium size device breakpoint
/// @type Length
$bp-medium: map.get($breakpoints, 'medium') !default;

/// Large size device breakpoint
/// @type Length
$bp-large: map.get($breakpoints, 'large') !default;

/// Extreme large size device breakpoint
/// @type Length
$bp-xlarge: map.get($breakpoints, 'xlarge') !default;

/// Small device size range
/// @type List
$small-range: (0, $bp-small) !default;

/// Medium device size range
/// @type List
$medium-range: ($bp-small + 1, $bp-medium) !default;

/// Large device size range
/// @type List
$large-range: ($bp-medium + 1, $bp-large) !default;

/// Extreme large device size range
/// @type List
$xlarge-range: ($bp-large + 1, $bp-xlarge) !default;

/// Extreme-extreme large device size range
/// @type List
$xxlarge-range: ($bp-xlarge + 1) !default;

/// Container's maximum width
/// @type Length
$max-width: $bp-medium !default;

/// Z-indexes map, gathering all Z layers of the application
/// @access private
/// @type Map
/// @prop {String} key - Layer’s name
/// @prop {Number} value - Z value mapped to the key
$z-indexes: (
  'modal': 5000,
  'dropdown': 4000,
  'default': 1,
  'below': -1,
) !default;
