:root {
  --color-gray-0: #f8f9fa;
  --color-gray-1: #f1f3f5;
  --color-gray-2: #e9ecef;
  --color-gray-3: #dee2e6;
  --color-gray-4: #ced4da;
  --color-gray-5: #adb5bd;
  --color-gray-6: #868e96;
  --color-gray-7: #495057;
  --color-gray-8: #343a40;
  --color-gray-9: #212529;
  --color-primary: #7048e8;
  --color-secondary: var(--color-gray-7);
  --color-success: #37b24d;
  --color-warning: #f59f00;
  --color-danger: #f03e3e;
  --color-info: #1c7ed6;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
}

.container {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 30px auto;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  place-items: center;
  width: 100%;
  min-width: 512px;
  max-width: 1024px;
  margin: 0 auto;
}

.grid-container .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 30px;
}

.grid-container .col {
  flex: 1;
  width: 100%;
  text-align: center;
}

.grid-container .left {
  text-align: left;
}

.grid-container .right {
  text-align: right;
}

.grid-container + .grid-container {
  margin-top: 0.5em;
}

.table {
  border-collapse: collapse;
  border: 0;
}

.table tr:nth-child(odd) {
  padding: 1em;
  background-color: var(--color-gray-2);
}

.table tr:nth-child(even) {
  padding: 1em;
  background-color: var(--color-gray-0);
}

.table th {
  padding: 1em;
  color: var(--color-gray-0);
  text-transform: uppercase;
  background-color: var(--color-primary);
  border: 0;
}

.table td {
  padding: 1em;
  text-transform: capitalize;
  white-space: pre-wrap;
  border: 0;
}

.table .left {
  margin-left: auto;
}

.table .right {
  margin-right: auto;
}

.table .center {
  margin: 0 auto;
}

