<!-- input -->
<div class="form-group">
    <label for="email" class="col-sm-2 control-label text-white">Email</label>
    <div class="col-sm-8">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
</div>

