<!-- input -->
<div class="form-group">
    <label for="username" class="col-sm-2 control-label text-white">User Name</label>
	<div class="col-sm-8">
		<input type="text" class="form-control" id="username" name="username" placeholder="Enter User Name">
	</div>
</div>
<!-- input -->
<div class="form-group">
    <label for="firstname" class="col-sm-2 control-label text-white">First Name</label>
	<div class="col-sm-8">
		<input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter First Name">
	</div>
</div>
<!-- input -->
<div class="form-group">
	<label for="lastname" class="col-sm-2 control-label text-white">Last Name</label>
	<div class="col-sm-8">
		<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter Last Name">
	</div>
</div>

