<div class="form-group">
	<div class="col-sm-offset-2 col-sm-8">
        <a class="btn btn-link" href="/accounts/signin">Sign in</a>
        <a class="btn btn-success" onclick="stForm.signup()">Sign up</a>
	</div>
</div>

<div class="alert alert-success alert-dismissible" style="display: none;">
	<strong></strong>
</div>
<div class="alert alert-danger alert-dismissible" style="display: none;">
	<strong></strong>
</div>
</div>
