body {
  box-sizing: border-box;
  min-width: 300px;
  min-height: 100vh;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin: 0 auto;
  background: linear-gradient(to bottom, #B721FF, #2AF598, #fec051, #FEE140, #FA709A);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.2), #21D4FD 75%);
}

a {
  text-decoration: none;
  pointer-events: none;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 1fr);
  justify-items: center;
  align-items: center;
}

.card {
  width: 95%;
  height: 95%;
  cursor: pointer;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.card h2 {
  margin-top: 0;
}

.card.flipped {
  transform: rotateY( 180deg);
}

.card .front,
.card .back {
  display: block;
  height: 50%;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  line-height: 100px;
  color: white;
  text-align: right;
  font-size: 3em;
  box-shadow: 3px 5px 20px 2px rgba(0, 0, 0, 0.25);
}

.card .front {
  width: 90%;
  height: 40%;
  padding-right: 7%;
  padding-bottom: 10%;
  background: #228653;
}

.card .back {
  font-size: 16px;
  text-align: left;
  line-height: 25px;
  background: #007539;
  transform: rotateY( 180deg);
}

.card-title {
  font-size: 1.4em;
  line-height: 1.2em;
  margin: 0;
}

.content {
  padding: 4%;
  font-weight: 100;
  text-align: left;
}