<html>
	<head>
		{{> head }}
	</head>
	<body>
		{{> header }}
		<form method="post" class="form-horizontal" role="form">
            {{> fname }}
            {{> fpassword }}
            {{> fsubmit }}
		</form>
		{{> js }}
	</body>
</html>
