@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');

body {
  position: relative;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
  font-family: Raleway, Helvetica, 'Open Sans', Arial, sans-serif, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

@media screen and (prefers-reduced-motion: reduce) {
  .button {
    display: block;
    min-width: 3em;
    padding: 0.5em 1em;
    margin: 0 auto;
    color: #f03e3e;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #f03e3e;
    outline: none;
    transition: none;
  }
}

.button {
  display: block;
  min-width: 3em;
  padding: 0.5em 1em;
  margin: 0 auto;
  color: #f03e3e;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #f03e3e;
  outline: none;
  transition:
    background-color 0.2s ease-in,
    color 0.2s ease-in;
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: #f03e3e;
}
