/* prev slide */
.slide--left-in {
  transform: translateX(100%);
  transition: transform 1s;
}

/* current slide */
.slide--left-in:target {
  transform: translateX(0);
}

/* next slide */
.slide--left-in:target ~ .slide {
  transform: translateX(-100%);
}

.slide--right-in {
  transition: transform 1s;
}

.slide--right-in:target {
  transform: translateX(0);
}

.slide--right-in:target ~ .slide {
  transform: translateX(100%);
}

.slide--rotate {
  transform: rotate(90deg);
  transform-origin: 0 0;
  transition: transform 1s;
}

.slide--rotate:target {
  transform: rotate(0deg);
}

.slide--rotate:target ~ .slide {
  transform: rotate(-90deg);
}

.slide--fade {
  opacity: 0;
  transition: opacity 1s;
}

.slide--fade:target {
  opacity: 1;
}

.slide--fade:target ~ .slide {
  opacity: 0;
}
