/* prev slide */
.slide--left {
  transform: translateX(100%);
  transition: transform 1s;
}

/* current slide */
.slide--left:target {
  transform: translateX(0);
}

/* next slide */
.slide--left:target ~ .slide {
  transform: translateX(-100%);
}

.slide--right {
  transform: translateX(-100%);
  transition: transform 1s;
}

.slide--right:target {
  transform: translateX(0);
}

.slide--right:target ~ .slide {
  transform: translateX(100%);
}

.slide--up {
  transform: translateY(100%);
  transition: transform 1s;
}

.slide--up:target {
  transform: translateY(0);
}

.slide--up:target ~ .slide {
  transform: translateY(-100%);
}

.slide--down {
  transform: translateY(-100%);
  transition: transform 1s;
}

.slide--down:target {
  transform: translateY(0);
}

.slide--down:target ~ .slide {
  transform: translateY(100%);
}

.slide--rotate {
  transform: rotate(90deg);
  transform-origin: 0 0;
  transition: transform 1s;
}

.slide--rotate:target {
  transform: rotate(0deg);
}

.slide--rotate:target ~ .slide {
  transform: rotate(-90deg);
}

.slide--scale {
  transform: scale(0.5);
  transition: transform 1s;
}

.slide--scale:target {
  transform: scale(1);
}

.slide--scale:target ~ .slide {
  transform: scale(0.5);
}

.slide--fade {
  opacity: 0;
  transition: opacity 1s;
}

.slide--fade:target {
  opacity: 1;
}

.slide--fade:target ~ .slide {
  opacity: 0;
}
