.card {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 300px;
  padding: 0;
  margin: 0 auto;
  perspective: 800px;
  transform-style: preserve-3d;
}

@media screen and (prefers-reduced-motion: reduce) {
  .card .front,
  .card .back {
    position: absolute;
    top: 5%;
    left: 5%;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    padding: 45% 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #1e90ff;
    transition: none;
    backface-visibility: hidden;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .card .front,
  .card .back {
    position: absolute;
    top: 5%;
    left: 5%;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    padding: 45% 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #1e90ff;
    transition: none;
    backface-visibility: hidden;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .card .front,
  .card .back {
    position: absolute;
    top: 5%;
    left: 5%;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    padding: 45% 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #1e90ff;
    transition: none;
    backface-visibility: hidden;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .card .front,
  .card .back {
    position: absolute;
    top: 5%;
    left: 5%;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    padding: 45% 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    cursor: pointer;
    background-color: #1e90ff;
    transition: none;
    backface-visibility: hidden;
  }
}

.card .front,
.card .back {
  position: absolute;
  top: 5%;
  left: 5%;
  box-sizing: border-box;
  width: 90%;
  height: 90%;
  padding: 45% 0;
  margin: 0 auto;
  color: white;
  text-align: center;
  cursor: pointer;
  background-color: #1e90ff;
  transition: transform 0.75s ease-in-out;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY(0deg);
}

.card .back {
  background-color: #800080;
  transform: rotateY(-180deg);
}

.card:hover .front,
.card:focus .front {
  transform: rotateY(180deg);
}

.card:hover .back,
.card:focus .back {
  transform: rotateY(0deg);
}
