/// button module name
/// @type String
$btn-name: 'btn' !default;

/// default button color
/// @type Color
$btn-color: $color-black !default;

/// hover color
/// @type Number
$btn-hover: 30% !default;

/// outline button border width
/// @type Length
$btn-outline-border: 1px !default;

/// round button border radius
/// @type Length
$btn-round-radius: 5em !default;

/// button hover animation time
/// @type Time
$btn-transition-time: 0.3s !default;

@mixin btn-outline($color) {
  color: $color;
  background-color: $color-white;
  border: $btn-outline-border solid $color;

  @include on-event {
    color: $color-white;
    background-color: $color;
  }
}

.#{$btn-name} {
  min-width: 5em;
  padding: $space-xs $space-lg;
  margin-bottom: $space-sm;
  color: $color-white;
  cursor: pointer;
  background-color: $btn-color;
  border: $btn-outline-border solid transparent;
  border-radius: 1px;
  transition: all $btn-transition-time;

  @include on-event {
    background-color: tint($btn-color, $btn-hover);
  }

  &--bold {
    font-weight: bold;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--block {
    display: block;
    width: 100%;
  }

  &--round {
    border-radius: $btn-round-radius;

    @include bem-on-event {
      border-radius: $btn-round-radius;
    }
  }

  &--outline {
    @include btn-outline($btn-color);
  }
}

@each $name, $size in $font-main-list {
  .#{$btn-name}--#{$name} {
    @include font-size($size);
  }
}

@each $key, $value in $color-main-list {
  .#{$btn-name}--#{$key} {
    background-color: $value;

    @include on-event {
      background: tint($value, $btn-hover);
    }
  }

  .#{$btn-name}--outline-#{$key} {
    @include btn-outline($value);
  }
}
