<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div class="website">
    <header class="nav">
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#">Logo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Github</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <header class="banner">
        <div class="banner-content">
          <ul class="banner-list">
            <li class="banner-item">
              <a class="banner-link" href="#">1</a>
            </li>
            <li class="banner-item banner-item-active">
              <a class="banner-link" href="#">2</a>
            </li>
            <li class="banner-item">
              <a class="banner-link" href="#">3</a>
            </li>
            <li class="banner-item">
              <a class="banner-link" href="#">4</a>
            </li>
          </ul>
        </div>
      </header>
      <nav class="tab-bar">
        <ul class="tab-list">
          <li class="tab-item tab-item-active">
            <a class="tab-link" href="#">HOME</a>
          </li>
          <li class="tab-item">
            <a class="tab-link" href="#">PROFILE</a>
          </li>
          <li class="tab-item">
            <a class="tab-link" href="#">ABOUT</a>
          </li>
        </ul>
      </nav>
      <section class="flex-container">
        <div class="row">
          <article class="col col-1-3">Content 1</article>
          <article class="col col-1-3">Content 2</article>
          <article class="col col-1-3">Content 3</article>
        </div>
        <div class="row">
          <article class="col col-1-4">Content 4</article>
          <article class="col col-1-4">Content 5</article>
          <article class="col col-1-4">Content 6</article>
          <article class="col col-1-4">Content 7</article>
        </div>
        <div class="row">
          <article class="col col-1-3">Content 8</article>
          <article class="col col-1-3">Content 9</article>
          <article class="col col-1-3">Content 10</article>
        </div>
      </section>
    </main>
    <footer class="footer">
      <small>&copy; 2018
        <a href="http://ife.baidu.com">ife.baidu.com</a>
      </small>
    </footer>
  </div>

  <!-- layout exercise -->

  <div class="container">
    <div class="container-1">
      <div class="left">30%</div>
      <div class="right">70%</div>
    </div>
    <div class="flex-container-1">
      <div class="left">30%</div>
      <div class="right">70%</div>
    </div>

    <div class="container-2">
      <div class="left">300px</div>
      <div class="right">auto</div>
    </div>
    <div class="flex-container-2">
      <div class="left">300px</div>
      <div class="right">auto</div>
    </div>

    <div class="container-3">
      <div class="right">300px</div>
      <div class="left">auto</div>
    </div>
    <div class="flex-container-3">
      <div class="left">auto</div>
      <div class="right">300px</div>
    </div>

    <div class="container-4">
      <div class="middle">auto</div>
      <div class="left">150px</div>
      <div class="right">100px</div>
    </div>
    <div class="flex-container-4">
      <div class="left">300px</div>
      <div class="middle">auto</div>
      <div class="right">200px</div>
    </div>

    <div class="container-5">
      <div class="left">300px</div>
      <div class="middle">200px</div>
      <div class="right">auto</div>
    </div>
    <div class="flex-container-5">
      <div class="left">300px</div>
      <div class="middle">200px</div>
      <div class="right">auto</div>
    </div>

    <div class="container-6">
      <div class="left">auto</div>
      <div class="middle">150px</div>
      <div class="right">100px</div>
    </div>
    <div class="flex-container-6">
      <div class="left">auto</div>
      <div class="middle">300px</div>
      <div class="right">200px</div>
    </div>
  </div>
</body>

</html>
