<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Layout</title>
  <link rel="stylesheet" href="./index.css">
</head>

<body>
  <div class="container-1">
    <div class="left">30%</div>
    <div class="right">70%</div>
  </div>
  <div class="flex-container-1">
    <div class="left">30%</div>
    <div class="right">70%</div>
  </div>

  <div class="container-2">
    <div class="left">300px</div>
    <div class="right">auto</div>
  </div>
  <div class="flex-container-2">
    <div class="left">300px</div>
    <div class="right">auto</div>
  </div>

  <div class="container-3">
    <div class="right">300px</div>
    <div class="left">auto</div>
  </div>
  <div class="flex-container-3">
    <div class="left">auto</div>
    <div class="right">300px</div>
  </div>

  <div class="container-4">
    <div class="middle">auto</div>
    <div class="left">150px</div>
    <div class="right">100px</div>
  </div>
  <div class="flex-container-4">
    <div class="left">300px</div>
    <div class="middle">auto</div>
    <div class="right">200px</div>
  </div>

  <div class="container-5">
    <div class="left">300px</div>
    <div class="middle">200px</div>
    <div class="right">auto</div>
  </div>
  <div class="flex-container-5">
    <div class="left">300px</div>
    <div class="middle">200px</div>
    <div class="right">auto</div>
  </div>

  <div class="container-6">
    <div class="left">auto</div>
    <div class="middle">150px</div>
    <div class="right">100px</div>
  </div>
  <div class="flex-container-6">
    <div class="left">auto</div>
    <div class="middle">300px</div>
    <div class="right">200px</div>
  </div>
</body>

</html>
