$color-grey: #999 !default;
$color-black: #333 !default;
$color-white: #fff !default;
$color-red: #f03e3e !default;

$font-stack: ('Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, 'Open Sans', Arial, sans-serif, serif) !default;
