@import './common';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  font-family: $font-stack;
}

html {
  min-width: 512px;
}

body {
  max-width: 100%;
  min-height: 100vh;
  line-height: 100vh;
  color: $color-white;
  text-align: center;
}
