html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  widows: 100%;
  height: 100vh;
  margin: 0;
  font-size: 1.6em;
  font-family: 'Raleway', 'Open Sans', sans, sans-serif;
}

main,
section,
h1,
h2,
h3,
small,
time,
ul,
li,
a,
span {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

h3 {
  margin-bottom: 1em;
}
